* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.flex {
    display: flex;
}

header {
    background-color: #212121;
	height: 40px;
    padding: 5px;
}

header#cabecalho h1{
	color: white;
	font-size: 1em;
    align-items: center;
    justify-content: center;
    width: 40%;
}

nav {
    justify-content: flex-end;
    width: 50%;
}

#primeiro {
    text-decoration: none;
    background-color: #F9A825;
    border-radius: 50px;
}

header a {
    text-decoration: none;
    width: 130px;
    color: white;
    justify-content: center;
    align-items: center;
}

main {
    width: auto;
}

section {
    justify-content: center;
    padding: 184px;
    align-items: center;
    height: 100%;
}

#conteudo {
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
    height: 100%;
    padding: 20px;
}

#texto {
    text-align: left;
    align-items: left;
    height: auto;
    width: 300px;
    border-right: 1px dotted black;
    padding-right: 20px;
}

fieldset {
    padding: 2px;
    border: none;
    justify-content: center;
    align-items: center;
} 

form {
    width: 100%;
    height: auto;
    padding: 10px;
}

footer {
    background-color: #212121;
	height: 80px;
    text-align: center;
}

footer#rodape h1{
	color: white;
	font-size: 1em;
    align-items: center;
    justify-content: center;
    width: 100%;
}


